:host {
  .progress {
    .slot {
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
      &:last-child {
        border-radius: 0 5px 5px 0;
      }
      display: inline-block;
      height: 80px;
      margin-right: 1px;
      width: calc(1.12% - 1.2px);
      &.gray {
        background-color: var(--p-slate-200);
      }
      &.green {
        background-color: var(--p-emerald-500);
      }
      &.yellow {
        background-color: var(--p-yellow-500);
      }
      &.red {
        background-color: var(--p-red-500);
      }
    }
  }
}
