
<div>
  <p-listbox
    [options]="activityOptions"
    [(ngModel)]="activity"
    (onDblClick)="activityListDblClick($event)"
  >
    <ng-template let-item #item>
      <div (contextmenu)="onActivityContextMenu($event, item)" style="width: 100%">
        {{ item }}
      </div>
    </ng-template>
  </p-listbox>
  <p-fieldset legend="Добавить запись">
    <p-autocomplete
      [(ngModel)]="activity"
      [suggestions]="autocompleteItems"
      showEmptyMessage="false"
      (completeMethod)="search($event)"
    ></p-autocomplete>
    <p-datepicker
      inputId="calendar-timeonly"
      [(ngModel)]="from"
      [timeOnly]="true"
    ></p-datepicker>
    <p-datepicker
      inputId="calendar-timeonly"
      [(ngModel)]="to"
      [timeOnly]="true"
    ></p-datepicker>
    <p-button label="Добавить" (click)="add()" [disabled]="!activity" />
    {{ passedTimeSec | secToTime }}
  </p-fieldset>
</div>
<div class="card">
  <p-table [value]="log" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Дата</th>
        <th>Активность</th>
        <th>Начало</th>
        <th>Конец</th>
      </tr>
    </ng-template>
    <ng-template #body let-entry>
      <tr (contextmenu)="onLogContextMenu($event, entry)">
        <td>{{ entry.date | date: "dd.MM.YYYY" }}</td>
        <td>{{ entry.activity }}</td>
        <td>{{ entry.from | date: "HH:mm" }}</td>
        <td>{{ entry.to | date: "HH:mm" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-contextmenu #activityCm [model]="activityCmItems" />
<p-contextmenu #logCm [model]="logCmItems" />
