:host {
  .time-card {
    ::ng-deep .p-card-body {
      border: 1px solid var(--p-fieldset-border-color);
      border-radius: var(--p-fieldset-border-radius);
      background-color: var(--p-fieldset-background);
    }
    &.valid {
      ::ng-deep .p-card-body {
        border-color: var(--p-button-primary-background);
        background-color: var(--p-highlight-background);
      }
    }
  }
  .passed-time {
    font-size: 50px;
    font-weight: 100;
    padding: 15px 0;
  }
  .time-log{
    &.gray {
        background-color: var(--p-slate-200);
      }
      &.green {
        background-color: var(--p-emerald-500);
      }
      &.yellow {
        background-color: var(--p-yellow-500);
      }
      &.red {
        background-color: var(--p-red-500);
      }
  }
}
