<div>
  <p-card class="time-card" [class.valid]="!!activity">
    Текущая деятельность
    <div class="flex flex-space-between">
      <div class="passed-time">{{ passedTimeSec | secToTime }}</div>
      <p-button label="Добавить" (click)="add()" [disabled]="!activity" />
    </div>
    <div class="flex flex-space-between">
      <p-fluid>
        <span>Начало периода</span>
        <p-datepicker
          inputId="calendar-timeonly"
          [(ngModel)]="from"
          [timeOnly]="true"
        ></p-datepicker>
      </p-fluid>
      <p-fluid>
        <span>Конец периода</span>
        <p-datepicker
          inputId="calendar-timeonly"
          [(ngModel)]="to"
          [timeOnly]="true"
        ></p-datepicker>
      </p-fluid>
    </div>
  </p-card>
  <br />
  <p-fieldset legend="Выберите вид деятельности">
    <p-fluid>
      <span>Вид деятельности на текущий период</span>
      <p-autocomplete
        [(ngModel)]="activity"
        [suggestions]="autocompleteItems"
        showEmptyMessage="false"
        (completeMethod)="search($event)"
      ></p-autocomplete>
    </p-fluid>
    <br />
    <p-listbox
      [options]="activityOptions"
      [(ngModel)]="activity"
      (onDblClick)="activityListDblClick($event)"
    >
      <ng-template let-item #item>
        <div
          (contextmenu)="onActivityContextMenu($event, item)"
          style="width: 100%"
        >
          {{ item }}
        </div>
      </ng-template>
    </p-listbox>
  </p-fieldset>
</div>
<div class="card">
  <p-table [value]="log" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template #header>
      <tr>
        <th>Дата</th>
        <th>Активность</th>
        <th>Время</th>
        <th>Начало</th>
        <th>Конец</th>
      </tr>
    </ng-template>
    <ng-template #body let-entry>
      <tr (contextmenu)="onLogContextMenu($event, entry)">
        <td>{{ entry.date | date: "dd.MM.YYYY" }}</td>
        <td>{{ entry.activity }}</td>
        <td>{{ entry | entryDuration | secToTime }}</td>
        <td>{{ entry.from | date: "HH:mm" }}</td>
        <td>{{ entry.to | date: "HH:mm" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-contextmenu #activityCm [model]="activityCmItems" />
<p-contextmenu #logCm [model]="logCmItems" />
