body {
  background-color: var(--p-primary-contrast-color);

  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.flex{
  display: flex;
  &-space-between{
    justify-content: space-between;
    align-items: center;
  }
}
